:root {
    --prim: #26292e;
    --sec: #e7718b;
    --tert: #f4f4f6;
    --grad: radial-gradient(
        at top center,
        #ec8da1,
        #e7718b
    );
    --border: #f0d0db;
    --btn: #2c2a2b;
    --icon: #414141;
    --iconb: #b8c4d4;
    --font: "Playwrite CU", system-ui;
}

* {box-sizing: border-box;}

/* tag */

body {
    margin: 0;
    padding: 0;
}

/* class */

.bold {
    font-weight: 600;
}

.product {
    background-color: var(--icon);
    border: 5px solid var(--iconb);
    height: 150px;
    width: 300px;
}

.sec1-btn {
    color: var(--tert);
    background-color: var(--btn);
    border-top: 2px solid #777;
}

/* ids */

#header, #footer {
    background-color: var(--prim);
    color: var(--tert);
}

#section1 {
    color: var(--tert);
    background-image: var(--grad);
}

#section2 {
    border-bottom: 8px solid var(--border);
}

#topHead {
    font-family: var(--font);
}